.container {
    padding: 2%;
}

img {
    /* border: 2px solid red; */
    width: 80%;
    padding: 2%;
}

.random {
    /* padding: 20% 0%; */
    margin: 35% 20% 0% 0%;
    /* margin-right: 40%; */
    /* border: 2px solid red; */

}