@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Oxygen, sans-serif;
    margin: 2rem;
    height: 75%;
}

.content {
    margin-top: -5%;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 20rem));
    gap: 2rem;
    justify-content: center;
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    height: 70%;
}

.card3 {
    overflow: hidden;
    box-shadow: 0 2px 20px #e1e5ee;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
    margin: 0;
    /* padding: 10px; */
}

.card6 {
    overflow: hidden;
    box-shadow: 0 2px 20px #e1e5ee;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
    margin: 0;
    /* padding: 10px; */
}

.card7 {
    overflow: hidden;
    box-shadow: 0 2px 20px #e1e5ee;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
    margin: 0;
    /* padding: 10px; */
}