.header{
    position:sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    z-index: 999;
    background-color: white;
}

.header_left{
    display: flex;
}

.header_left > img{
    object-fit: contain;
    height: 70px;
}

.header_right{
    display: flex;
}